.scoreboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  gap: 1rem;
}

.scoreboard > * {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.scoreboard,
.scoreboard button {
  font-family: monospace;
}

.field {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 7rem;
  gap: 1rem;
  padding: 1rem;
  max-width: 30rem;
  margin: 0 auto;
}

.hole {
  background: url("../../public/hole.png") no-repeat center/contain;
}

.mole {
  background-image: url("../../public/mole.png");
}

.mole:hover {
  cursor: pointer;
}
